/* css do projeto Trust */
body{
    background-color: black;
}


.x{
    /*classe temporária*/
    border: 1px solid red; 
}


.contentor-global{
    padding: 50px;
    margin-top: 30px;
    background-color: #EFEFEF;
   
}
.margem-top-5 {margin-top: 5px;}
.margem-top-10 {margin-top: 10px;}
.margem-top-20 { margin-top: 20px;}

.contentor-navegacao{
   /*  background-image: url("../images/imag_menu_background.jpg");
    background-repeat: repeat-x; */
    background-color: rgb(66, 66, 66);
    padding: 20px;
    color: white;

}

.contentor-navegacao a{
    text-decoration: none;
    color: white;
    margin: 0px  20px;
}

.text-navegacao{
    font-size: 1.2em;
    padding: 5px;
}
.contentor-navegacao a:hover {
    text-decoration: none;
    color: rgb(121, 155, 206);
}

.barra-branca{
    background-color: white;
    padding: 15px;
}

.imagem-social{
    background-image: url('../images/imagem_social.jpg');
    height: 600px;
    /* background-repeat: no-repeat; */
    display: table;
    width: 100%;
    /* background-size:100% 100%; */
}
.colucar-fundo {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
.botao{
    font-size: 1.5em;
    padding: 5px 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    white-space: normal;

}

.espaco-services{
    padding: 20px 0;
}
.espaco-caixas{
    padding: 20px;
}

.titulo-caixa{
    font-size: 1.3em;
    font-weight: bold;
    
}

.rodape{
    color: white;
    background-color: #282C2F;
    padding: 30px;
}
.caixa-rodape{
    padding: 40px;
    margin-bottom: 10px;
}